@using MachinaTrader.Utility
@using System.Linq
@using System
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="navigationHeader">
            <partial name="_UserSidebar" />
            <!-- Sidebar user panel -->
            <!-- search form -->
            <form action="#" method="get" class="sidebar-search">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
        </li>

        <li class="nav-title">MAIN NAVIGATION</li>
        @{
            foreach (var items in WebNavigation.Get().OrderBy(obj => obj.MenuOrder).ThenBy(obj => obj.MenuTitle, StringComparer.OrdinalIgnoreCase))
            {
                if (items.MenuChilds.Count != 0)
                {
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="fal fa-folder nav-icon"></i> @items.MenuTitle
                        </a>
                        <ul class="nav-dropdown-items">
                            @foreach (var item in items.MenuChilds.OrderBy(obj => obj.MenuOrder).ThenBy(obj => obj.MenuTitle, StringComparer.OrdinalIgnoreCase))
                            {
                                <li class='nav-item'>
                                    <a class="nav-link" href="/#/@item.MenuHyperlink">
                                        <i class="nav-icon @item.MenuIconClass"></i> <span>@item.MenuTitle</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li class='nav-item'>
                        <a class="nav-link" href="/#/@items.MenuHyperlink">
                            <i class="nav-icon @items.MenuIconClass"></i> <span>@items.MenuTitle</span>
                        </a>
                    </li>
                }
            }
        }
    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>
